@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0.45;
}
